.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 12px 0 black;
}
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    gap: 10px;
}
.card {
    background-color: gray;
    width: 300px;
    height: 500px;
    margin: 10px;
    box-shadow: 10px 5px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    color: whitesmoke;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* text-align: center; */
}
.card:active{
   width: 320px;
   height: 500px;
   transition: .5s ease ;
   background-color: whitesmoke;
   color: black;
}
.card-image {
    background-color: aqua;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    background-size: cover;
}
.img1 {
    background-image: url(kagura.jpg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.img2 {
    background-image: url(hayabusa.jpg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.img3 {
    background-image: url(Hanabi.jpg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card .card-image {
    padding: 25px;
}