body {
    margin: 0;
    padding: 0;
}
.perfoma {
    width: 90%;
    border-radius: 2px;
    box-shadow: 0 0 10px black;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 13px;
    margin: 20px;
    border: 1px solid white;
    font-size: 15px;
}
.photo {
    width: 500px;
    height: 350px;
}
.PO {
    color: rgb(1, 251, 255);
    font-style: italic;
    background: fixed;

}
.border {
    stroke:  1px aqua;
}